<!-- <app-auto-complete
  [dataSource]="items"
  placeHolder="Find an item"
  (select)="getSelectedItem($event)"
  [outlineColor]="'lightblue'"
  [borderColor]="'#c8c8c8'"
  inputFontFamily="'Courier New', Courier, monospace"
  width="200px"
>
  <ng-template let-item #itemTemplate>
    <div style="display: flex; align-items: center; width: 100%">
      <span [class]="'bug'" [ngClass]="'span-pic'"></span>
      <span>{{ item.name }}</span>
    </div>
  </ng-template>
</app-auto-complete>

<div style="margin: 10vh">
  <app-auto-complete
    [dataSource]="items"
    placeHolder="Find an item"
    (select)="getSelectedItem($event)"
    [outlineColor]="'lightblue'"
    [borderColor]="'#c8c8c8'"
    inputFontFamily="'Courier New', Courier, monospace"
    width="300px"
  >
    <ng-template let-item #itemTemplate>
      <div style="display: flex; align-items: center; width: 100%">
        <span [class]="'bug'" [ngClass]="'span-pic'"></span>
        <span>{{ item.name }}</span>
      </div>
    </ng-template>
  </app-auto-complete>
</div>
<div style="margin: 10vh">
  <app-auto-complete
    [dataSource]="items"
    placeHolder="Find an item"
    (select)="getSelectedItem($event)"
    [outlineColor]="'lightblue'"
    [borderColor]="'#c8c8c8'"
    inputFontFamily="'Courier New', Courier, monospace"
    width="300px"
  >
    <ng-template let-item #itemTemplate>
      <div style="display: flex; align-items: center; width: 100%">
        <span [class]="'bug'" [ngClass]="'span-pic'"></span>
        <span>{{ item.name }}</span>
      </div>
    </ng-template>
  </app-auto-complete>
</div>
<div style="margin: 10vh">
  <app-auto-complete
    [dataSource]="items"
    placeHolder="Find an item"
    (select)="getSelectedItem($event)"
    [outlineColor]="'lightblue'"
    [borderColor]="'red'"
    inputFontFamily="'Courier New', Courier, monospace"
    width="300px"
  >
    <ng-template let-item #itemTemplate>
      <div style="display: flex; align-items: center; width: 100%">
        <span [class]="'bug'" [ngClass]="'span-pic'"></span>
        <span>{{ item.name }}</span>
      </div>
    </ng-template>
  </app-auto-complete>
</div> -->

<!-- <exact-toggle-switch [disabled]="true"> </exact-toggle-switch>
<h1></h1>
<exact-toggle-switch height="100px" width="200px">
  <img left src="assets/moon.svg" />
  <img right src="assets/sun.svg" />
</exact-toggle-switch> -->

<exact-e-signature></exact-e-signature>
